<div class="market-data-component">
  <h3>Market data:</h3>
  <div class="market-details">
    <div class="market-detail">
      <span class="label">Symbol:</span>
      <span class="value">{{this.selectedInstrumentID}}</span>
    </div>
    <div class="market-detail">
      <span class="label">Price:</span>
      <span class="value" *ngIf="isPriceReady()">{{this.marketData.last.price}}</span>
    </div>
    <div class="market-detail">
      <span class="label">Time:</span>
      <span class="value"  *ngIf="isPriceReady()">{{this.marketData.last.timestamp | date:'shortTime'}}</span>
    </div>
  </div>
</div>